
<%# 
# the turbo_stream_from helper generates a custom element used in the Turbo Javascript library
to suscribe users to the channel named in the `channel` attribute, and more specifically, to the
stream named in the signed-stream-name attribute

# the Turbo::StreamsChannel inside the `channel` attribute is the name of the Action Cable channel.
Turbo Rails always uses this channel, so this attribute is always the same
%>
<%= turbo_stream_from current_company, "quotes" %>

<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote", new_quote_path, class: "btn btn--primary", data: { turbo_frame: dom_id(Quote.new) } %>
  </div>

  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
</main>
